.q-expansion-item {
  :deep(.q-item) {
    padding: 0;

    .q-focus-helper {
      opacity: 0 !important;
      background-color: transparent !important;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  color: #fff;
  font-size: 1rem;

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    &:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
  }
}