.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  background: linear-gradient(90deg, #a51d71 0%, #93f1ff61 50%, rgb(255 255 255 / 0%) 100%);
  padding: 5px 15px;
  border-radius: 10px 0px 0px 10px;
}

.form-select-option {
  background-color: #081c4c;
  color: rgb(255, 255, 255);
}

.form-control {
  color: rgb(255, 255, 255);
  min-width: 98%;
  appearance: none;
  outline: transparent;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #6237f0;
  background-color: #081c4c;
  display: block;
  height: 100%;
  padding: 0 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.pr-0 {
    padding-right: 0;
  }

  &.p-0 {
    padding: 0;
  }

  &.q-field--focused,
  &.active {
    color: rgb(255, 255, 255);
    background-color: rgb(170 30 116 / 58%);
    outline: 0px;
    box-shadow: unset;
    border-color: #6237f0;
  }

  :deep(.q-field__control) {
    height: auto;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0;

    .q-field__control-container {
      padding: 0 0.3rem;
    }

    .q-field__native {
      min-height: 3.125rem;
      color: #fff;

      .q-field__input {
        color: rgb(255, 255, 255, 0.4);
      }
    }

    .q-field__label {
      min-height: 3.125rem;
      color: rgb(255, 255, 255, 0.4);
    }

    .q-field__append {
      height: 3.125rem;
      line-height: 3.125rem;
      padding: 0 0.3rem;
      color: rgb(255, 255, 255, 0.4);
    }
  }

  .q-field__bottom {
    font-size: .875rem;
  }

  &.inputDeposit {
    margin-bottom: 1.75rem;
    border-radius: 8px;
    font-size: .875rem;
  }
}

.form-date-input {

  :deep(.q-field__inner) {
    .q-field__control {
      padding: 0;

      .q-field__append {
        height: 100%;
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0 .25rem .25rem 0;
        z-index: 1;
      }
    }
  }
}

.deposit-label {
  background: linear-gradient(90deg, #a51d71 0%, #93f1ff61 50%, rgb(255 255 255 / 0%) 100%);
  padding: 5px 15px;
  border-radius: 10px 0px 0px 10px;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.depositBtn {
  &:focus {
    border: 1px solid transparent;
    outline: none;
    color: rgb(255, 255, 255);
  }
}

.btn-modal-reg {
  &.btn-counting {
    border-radius: 0.625rem;
    padding: 0;
  }
}

:deep(.bg-date) {
  background: #aa1e74;
}

::v-deep(.q-field__native) {
  &::placeholder {
    color: rgba(#fff, 0.4) !important;
  }
}

::v-deep(.q-field--error) {
  @apply mb-[2.5rem];
}