$primary-color: #FFC002;

$menu-default-color: #FFFFFFB2;
$menu-hover-color: #FFFFFF;
$menu-active-color: $primary-color;

$primary-bg: radial-gradient(43% 19% at 55% 15%, #CB504F 0%, #650E0E 100%);
$secondary-gradient-bg: radial-gradient(62.04% 33.47% at 50% 0%, #CB504F 0%, #650E0E 100%);

$primary-btn-bg: #802827;
$primary-modal-bg: #3E0303;
$third-bg: #2D1113;

$secondary-bg: #0d0000;
