@charset "UTF-8";
/* CSS Document */
/********************************************

Common CSS

********************************************/
html {
  font-size: 62.5%; /*フォントの基準を10pxに*/
}
body {
  color: #484848;
  background: #000;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-feature-settings: "palt"1; /*文字詰め*/
  letter-spacing: .08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.txt_under {
  text-decoration: underline;
}
img {
  vertical-align: top;
}
/*テキストを選択した時の装飾*/ ::selection {
  background: #537895;
  color: #fff;
}
::-moz-selection {
  background: #537895;
  color: #fff;
}
li {
  list-style-type: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color: white;
  display: none;
  font-family: 'source_sans_proregular';
  line-height: 25px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
select, input[type=radio], input[type=date], input[type=time] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 0px;
  background: #fff;
  color: #333;
}
input[type=date]::-webkit-date-and-time-value, input[type=time]::-webkit-date-and-time-value {
  text-align: left;
}
.my-radio {
  position: relative;
  display: block; /* 縦並びに */
  margin: 0.2em 0; /* 前後のスペース */
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}
/* inputは非表示にする */
.my-radio input {
  display: none;
}
/* 常に表示する枠線の円 */
.radio-mark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 50%;
  box-sizing: border-box;
}
/* 選択時に重ねる円 */
.radio-mark:after {
  content: "";
  position: absolute;
  background: #f1890e; /* 色 */
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0; /* 透明にしておく */
}
/* 選択時に重ねた円の透明を解除 */
.my-radio input:checked + .radio-mark:after {
  opacity: 1;
}
/* 常に表示する枠線の円 */
.radio-mark-en {
  position: absolute;
  top: 2px; /* 上からの位置 */
  left: 0;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 50%;
  box-sizing: border-box;
}
/* 選択時に重ねる円 */
.radio-mark-en:after {
  content: "";
  position: absolute;
  background: #2e80ff; /* 色 */
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0; /* 透明にしておく */
}
/* 選択時に重ねた円の透明を解除 */
.mei-font {
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', 'Yu Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif!important;
}
.my-radio input:checked + .radio-mark-en:after {
  opacity: 1;
}
.placeholder::before {
  content: attr(placeholder);
  color: rgb(117, 117, 117);
}
.placeholder::-webkit-datetime-edit-fields-wrapper {
  display: none;
}
.placeholder::-webkit-calendar-picker-indicator {
  display: none;
}
.mgb_05em{
  margin-bottom: .5rem !important;
}
.mgb_1rem {
  margin-bottom: 1rem !important;
}
.width_50 {
  width: 55% !important;
}
.width_100 {
  width: 100% !important;
}
input[type="date"] {
  height: 3.6rem;
  position: relative;
  text-align: left !important;
}
input[type="date"]::-webkit-date-and-time-value {
  text-align: left !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: transparent;
  z-index: 1;
}
input[type="date"]::after {
  content: '';
  background-image: url("../images/ico_calendar.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
input[type="time"] {
  height: 3.6rem;
}
/*********************************

Font

**********************************/
.bold_400 {
  font-weight: 400 !important;
}
.bold_600 {
  font-weight: 600 !important;
}
.bold_700 {
  font-weight: 700 !important;
}
.bold_800 {
  font-weight: 800 !important;
}
.bold_900 {
  font-weight: 900 !important;
}
.txt_09em {
  font-size: 1.3rem !important;
  text-align: center!important;
}
.txt_14rem {
  font-size: 1.4rem !important;
}
.txt_11em {
  font-size: 1.1em !important;
}
.txt_12em {
  font-size: 1.2em !important;
}
.txt_15em {
  font-size: 1.5em !important;
  font-weight: 900;
}
.txt_18em {
  font-size: 1.8em !important;
}
.txt_20em {
  font-size: 2em !important;
}
.txt_22em {
  font-size: 2.2em !important;
  font-weight: 900;
}
.txt_26em {
  font-size: 2.2em !important;
  font-weight: 900;
}
.color_r_red {
  color: #BF0000 !important;
}
.color_yel {
  color: #FBF91B !important;
}
.color_blue {
  color: #406DD1 !important;
}
.color_white {
  color: #fff !important;
}
.color_green {
  color: #195c4e !important;
}
.txt_line {
  text-decoration: line-through !important;
}
.bg_yel {
  background: #eee8aa;
}
.bg_bk {
  background-color: #000 !important;
}
.bg_r_red {
  background-color: #BE0000 !important;
}
.bg_yel_txt {
  background: #FBF91B !important;
  color: #333 !important;
  font-weight: 900;
}
.dot {
  position: relative;
}
.dot::after {
  position: absolute;
  content: "";
  background-image: url("../images/dot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.1rem;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
}
.under_line {
  text-decoration: underline !important;
}
.mincho-seri {
  font-family: 'Noto Serif JP', serif;
}
/*********************************
PC/MOBILE 
**********************************/
.pc {
  display: none;
}
.mb {
  display: block;
}
/*********************************
Main
**********************************/
main{
  display: block;
  /*max-width: 760px;*/
  width: 100%;
  margin: 0 auto;
}
header{
  width: 100%;
  text-align: center;
  height: 7rem;
  padding: 1em 0;
  background:#000;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #ed882d, #ffe68e,#ed882d) 1;
}
header h1{
  margin: 0 auto;
}
header h1 img{
  width: 30%;
}
/*********************************
キービジュアル
**********************************/
.main-banner{
  width: 100%;
  display: block;
  position: relative;
}
.main-banner .bg-main,
.main-banner .top-light{
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.main-banner .sub-ttl,
.main-banner .copy-txt,
.main-banner .points{
  position: relative;
  width: 100%;
}
.main-banner .copy-txt,
.main-banner .points{
  width: 90%;
  margin: 0 auto;
  display: block;
}
.main-banner .star{
  position: absolute;
  top: 40%;
  left: 4%;
  width: 18%;
  z-index: 9;
}
.tikatika {
  animation: tikatika 1.2s infinite;
}
@keyframes tikatika {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*********************************
CTA
**********************************/
.cta{
  width: 100%;
  display: block;
  position: relative;
}
.cta-bullet{
  width: 90%;
  margin: 0 auto 2rem;
  display: block;
}
.cta .female{
  position: absolute;
  top: -50%;
  right: 0;
  width: 100%;
  z-index: -1;
}
.cta-bullet-txt{
  text-align: left;
  margin: 0 auto;
  width: 90%;
  font-size: 2rem;
  color: #fff;
  line-height: 2;
  font-weight: bold;
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', 'Yu Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif!important;
}
.cta .cta-bg{
  width: 95%;
  position: relative;
  top: 0;
  display: block;
  margin: 0 auto;
}
.cta .container{
  width: 85%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.cta .container .ttl-wrap{
  position: relative;
  background: url("../images/cta-ttl.webp") no-repeat center;
  background-size: contain;
  width: 100%;
  color: #fff;
  height: 8.5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: .5rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.cta .container .ttl-wrap h4{
  display: block;
  width: 100%;
  margin: 0 auto;
}
.cta .container .txt{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -.05em;
}
.cta .container .sub-btn-txt{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}
.kv-btn {
  width: 100%;
  height: 7.5rem;
  display: flex;
  margin: 0rem auto .5rem;
  padding: 0;
  text-align: center;
  /* border-radius: 2.8rem;*/
  border: none;
  /*background: #ff6c00;*/
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 9;
  background: url("../images/btn.webp")no-repeat center;
  background-size: contain;
}
.kv-btn a {
  position: relative;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  height: 3rem;
  font-weight: 900;
  z-index: 2;
}

/*********************************
アニメーションエフェクト
**********************************/
.yureru-s {
  animation: yureru-s 2s infinite;
}
@keyframes yureru-s {
  0% {
    transform: translate(5px, 0px);
  }
  5% {
    transform: translate(-5px, 0px);
  }
  10% {
    transform: translate(5px, 0px);
  }
  15% {
    transform: translate(-5px, 0px);
  }
  20% {
    transform: translate(5px, 0px);
  }
  25% {
    transform: translate(-5px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}

/*********************************
CONCERN
**********************************/
.concern{
  width: 100%;
  position: relative;
  display: block;
}
.concern img{
  width: 100%;
  display: block;
}

/*********************************
Bullet
**********************************/
.bullet{
  width: 100%;
  display: block;
  position: relative;
}
.bullet .bg{
  display: block;
  width: 100%;
}
.bullet .txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 65%;
}

/*********************************
Dedication
**********************************/
.dedication{
  width: 100%;
  display: block;
  padding: 5rem 1.4rem;
}

.dedication .box{
  display: block;
  position: relative;
  width: 100%;
}
.dedication .box .ttl{
  width: 100%;
  position: relative;
}
.dedication .box .ttl img{
  width: 100%;
}
.dedication .box .content{
  width: 100%;
  position: relative;
  display: block;
}
.dedication .box .content img{
  width: 100%;
  display: block;
}
.dedication .box .content .ded-txt{
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.7;
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', 'Yu Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif!important;
}

/*********************************
Feature
**********************************/
.feature{
  width: 100%;
  display: block;
}

.feature .f-con{
  width: 100%;
}
.feature .box{
  margin: 3rem auto 4rem;
  width: 100%;
}
.feature .box h3{
  display: block;
  width: 70%;
  margin: 0 auto;
  background: #0071bc;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 5px 0;
}
.cl-red{
  background: linear-gradient(to right, #ff3029,#800000)!important;
}
.cl-red-txt{
  color: #ff3029!important;
}
.balloon {
  position: relative;
  display: block;
  margin: 1.5em auto;
  padding: 16px 14px;
  width: 80%;
  color: #0071bc;
  font-size: 16px;
  background: #ffffff;
}
.balloon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffffff;
}
.balloon p {
  margin: 0;
  padding: 0;
  color: #0071bc;
}
.feature .rel-img{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.feature .ex-img{
  width: 90%;
  margin: 0 auto;
  display: block;
}

/*********************************
Safe
**********************************/
.safe{
  display: block;
  width: 100%;
  padding-top: 6rem;
  position: relative;
}
.safe .so{
  width: 40%;
  position: absolute;
  top: -7%;
  left: 50%;
  transform: translateX(-50%);
}
.safe .safe-img{
  width: 100%;
}

/*********************************
Bonus
**********************************/
.bonus{
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/bonus-bg.webp")no-repeat top center;
  background-size: cover;
}
.bonus .bulet{
  width: 100%;
}
.bonus .bulet img{
  width: 90%;
  display: block;
  margin: 0 auto;
}
.bonus p{
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', 'Yu Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif!important;
}
.amuse-img{
  width: 90%;
  display: block;
  margin: 2rem auto;
}

/*********************************
flow
**********************************/
.flow{
  width: 100%;
  padding: 5rem 1.4rem;
}
.flow img{
  width: 100%;
}

/**********************************
footer
***********************************/
footer {
  background: #000;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: .3em 1em;
}

@media only screen and (min-width: 767px) {
  main{
    max-width: 760px;
    box-shadow: 0 0 5px #999;
  }
  header {
    padding: 0em 0;
}
header h1 img {
  width: 20%;
}
.cta .cta-bg {
  width: 90%;
}
.cta .container .ttl-wrap {
  height: 15rem;
  text-align: center;
  font-size: 3.6rem;
}
.cta .container .txt {
  width: 80%;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0em;
}
.cta .container .sub-btn-txt {
  font-size: 3.2rem;
}
.kv-btn {
  height: 11.5rem;
}
.txt_09em {
  font-size: 1.8rem !important;
}
.dedication .box .content .ded-txt {
  width: 100%;
 bottom: 10%;
  font-size: 2.4rem;
}
.safe {
  padding-top: 12rem;
}
.bonus p {
  font-size: 3.2rem;
  font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', 'Yu Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif !important;
}
.bullet .txt {
  position: absolute;
  width: 52%;
}
.cta-bullet-txt {
  font-size: 3.6rem;
  }