@import "src/common/css/_variable.sass";

.collaboration {
  @include pad-large-width() {
    background: var(--bg-main-bg);
  }

  .collaboration-content {
    border-radius: 0.75rem;
    width: 100%;
    max-width: 87.5rem;
    margin: 2rem auto 3.25rem;

    @include pad-large-width() {
      border-radius: 0;
      padding: 1.5rem 0.75rem;
      margin: 0;
    }

    .title {
      @apply flex leading-none items-center p-4 rounded-lg font-bold text-[1.5rem];
      color: var(--secondary-01);
      background: var(--neutral-01);
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include pad-large-width() {
        justify-content: flex-start;
        margin-top: 0;
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold;
        color: var(--secondary-01);
      }

      :deep(.q-btn-dropdown) {
        @apply shadow-none;
        border-radius: 2rem;
        border: 1px solid var(--neutral-03);
        background: var(--neutral-04);
        color: var(--secondary-01);

        &::before {
          display: none;
        }

        @include pad-large-width() {
          width: 100%;
          height: 2.25rem;

          &.currency-select-btn {
            width: 12.5rem;
            height: 2.9375rem;
          }

          .q-btn__content {
            span {
              width: 100%;
            }
          }
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include pad-large-width() {
        @apply flex-col items-start gap-[1.25rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include pad-large-width() {
          @apply w-full;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background: var(--primary-01);
          color: var(--text-01);


          @include pad-large-width() {
            @apply py-4;
          }

          .summary-title {
            color: var(--text-01);

            @include pad-large-width() {
              font-size: 0.75rem;
            }
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem];

            @include pad-large-width() {
              font-size: 1.25rem;
            }
          }
        }
      }

      .referral-code {
        @apply flex flex-col items-center justify-center flex-1;
        background: var(--primary-04);
        border-radius: 0.625rem;
        border: 1px solid var(--primary-01);

        @include pad-large-width() {
          width: 100%;
          padding: 1.25rem 0;
        }

        .referral-code-title {
          @apply font-semibold text-[1.25rem];
          color: var(--secondary-01);
        }

        .referral-code-value {
          background-color: var(--primary-01);
          border: 1px solid var(--neutral-07);
          border-radius: 0.25rem;
          font-size: 1rem;
          font-weight: 600;
          color: var(--text-01);
          margin-top: 1.125rem;

          :deep(.q-field__inner) {
            background-color: var(--primary-01);
            border-radius: 0.3rem;
            padding: 0 0.75rem;
          }

          :deep(.q-field__native) {
            background-color: var(--primary-01);
            color: var(--text-01);
          }

          :deep(.q-field__append) {
            color: var(--text-01);
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      @include pad-large-width() {
        margin: 1.75rem 0 0.625rem;
      }

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          font-weight: 700;
          min-height: 0;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          background: var(--primary-07);
          color: var(--neutral-09);

          @include pad-large-width() {
            padding: 0.625rem 1.25rem;
            flex: none
          }

          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          background: var(--primary-01);
          color: var(--text-01);

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      border-radius: 0.625rem;
      background: var(--neutral-01);

      @include pad-large-width() {
        background: var(--neutral-01);
      }

      :deep(.q-tab-panel) {
        padding: 1.25rem;

        @include pad-large-width() {
          padding: 0.625rem;
        }
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid;
        color: #000;
        border-color: #666 !important;
        border-radius: 2rem;

        :deep(.q-icon) {
          color: #666 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4;
    border-radius: 0.625rem;
    background: var(--neutral-01);

    @include pad-large-width() {
      background: var(--neutral-01);
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem];
    color: var(--secondary-01);

    @include pad-large-width() {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1.25rem;
    }
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include pad-large-width() {
      @apply items-center gap-[.5rem];
    }

    .label {
      @apply text-[1rem];
      color: var(--secondary-01);

      @include pad-large-width() {
        @apply w-32;
        font-weight: 600;
      }
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: var(--primary-07);
      border-radius: 0.3rem;

      .q-field__native {
        color: var(--secondary-01);

        &::placeholder {
          color: var(--neutral-08);
        }
      }
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include pad-large-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include pad-large-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include pad-large-width() {
          @apply items-center gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;

          @include pad-large-width() {
            @apply w-32;
            font-weight: 600;
          }
        }

        :deep(.q-btn-dropdown) {
          border-radius: 2rem;
          color: var(--secondary-01);
          border: 1px solid var(--neutral-03);
          background: var(--primary-07);

          &::before {
            display: none;
          }

          @include pad-large-width() {
            border: none;
          }
        }
      }
    }

    .gametype-action {
      @include pad-large-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include pad-large-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal;
          color: var(--text-01);
        }

        :deep(.q-btn-dropdown) {
          @apply shadow-none;
          border-radius: 2rem;
          border: 1px solid #8A8A8A;
          background: #131313;
          color: var(--text-01);

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include pad-large-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include pad-large-width() {
          @apply items-center gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal;
          color: var(--secondary-01);

          @include pad-large-width() {
            width: 5rem;
          }
        }

        .date-select-input {
          width: 14rem;
          background-color: var(--primary-07);
          border: 1px solid var(--neutral-03);
          border-radius: 2rem;

          :deep(.q-field__native) {
            color: var(--secondary-01);
          }

          :deep(.q-field__append) {
            color: var(--secondary-01);
          }

          :deep(.q-field__control) {
            border-radius: 2rem;
          }
        }
      }
    }

    .search-btn {
      @apply leading-none;
      background: var(--primary-01);
      padding: 0.7rem 2rem;
      border-radius: 0.5rem;
      min-height: 0;
      color: var(--text-01);

      @include pad-large-width() {
        width: 100%;
        padding: 0.625rem 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    @include pad-large-width() {
      @apply mt-5;
    }

    .no-data {
      @apply text-center text-sm font-bold py-12;
      border-radius: 1rem;
      background: transparent;
      color: var(--secondary-01);
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: var(--secondary-01);

      :deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b;
        border-color: var(--neutral-03);
        color: var(--secondary-01);

      }

      :deep(tr) {
        @apply border-b;

        &:hover {
          background: var(--neutral-01);
          color: var(--secondary-01);
        }
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: var(--neutral-03);
        color: var(--neutral-09);

      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      @include pad-large-width() {
        margin-top: 1.25rem;
      }

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent;
          color: var(--neutral-09);
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: var(--neutral-09);
      }

      :deep(.q-btn--standard) {
        background-color: transparent !important;
        color: var(--primary-01) !important;

        &::before {
          display: none;
        }
      }
    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem] p-0;
        border-radius: 0.5rem;
        border: 1px solid var(--neutral-08);
        background: transparent;
        color: var(--secondary-01);

        @include pad-large-width() {
          box-shadow: none;
        }

        .card_head_content {
          color: var(--neutral-09);
        }

        .row-item {
          @apply flex justify-between items-center;
          border-bottom: 1px solid var(--neutral-03);
          padding: 0.5rem 0.75rem;
          font-size: 0.75rem;
          font-weight: 700;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply w-full mt-2;
          background: #008A59;
          border-radius: 2rem;
          color: var(--text-01);
        }

        .card-detail {
          background: var(--primary-08);
          color: var(--neutral-01);
          padding: 1.25rem;
        }
      }
    }
  }
}

:deep(.q-menu) {
  .q-list {
    background: #030A13;
    color: #fff;
  }
}

.achieved {
  width: fit-content;
  background: var(--secondary-07);
  color: var(--secondary-06);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin: 0 auto;

  @include pad-large-width() {
    padding: 0.4375rem 0.6875rem;
  }
}

.not_achieved {
  width: fit-content;
  background: var(--secondary-08);
  color: var(--emotional-danger-01);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin: 0 auto;

  @include pad-large-width() {
    padding: 0.4375rem 0.6875rem;
  }
}

.rule-dialog {
  background: var(--neutral-01);
  border-radius: 1rem;
  color: var(--neutral-10);

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--neutral-02);
    /* or add it to the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--neutral-03);
    border-radius: 1rem;
  }
}

.dropdownList {
  background: var(--primary-07);
  color: var(--secondary-01);
}

.card-title {
  @apply flex items-center justify-between p-2.5;

  .card-title-item {
    @apply flex flex-col justify-center items-start gap-[0.4375rem];
    font-size: 0.75rem;
    color: var(--secondary-01);
  }

  .arrow-down-icon {
    color: var(--secondary-01);
  }
}