@import "src/common/css/_variable.sass";
@import "app/template/okbet_red/assets/css/_variable.sass";



.referral-rebate {
  .referral-rebate-header {
    @apply w-full bg-black/70;
    @apply aspect-[1570/354] bg-cover bg-center;
  }

  .referral-rebate-content {
    @apply w-[62.5rem] mt-[2rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white/70;
    border-radius: 0.75rem;

    @include iphone-width() {
      @apply w-full mt-0 max-w-[100%];
      @apply p-[28px];
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center;
      @apply font-bold text-[1.5rem];
      color: #FFF4F4;
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include iphone-width() {
        @apply flex-row items-start mt-[3rem];
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold;
        color: #FFF4F4;
      }

      :deep(.q-btn-dropdown) {
        @apply text-black shadow-none;
        border-radius: 2rem;
        background: #FFFFFF;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include iphone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include iphone-width() {
          @apply w-full flex-row;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background-color: $secondary-color;

          @include iphone-width() {
            @apply text-sm pt-[0.625rem] pb-[0.4375rem];
            width: 50%;
            background-color: $secondary-color
          }

          .summary-title {
            @apply font-bold;
            color: #00000099;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-black;

            @include iphone-width() {
              @apply text-sm;
            }
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        background-color: #B6231F;
        border: 1px solid $secondary-color;
        border-radius: 0.5rem;

        @include iphone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply font-semibold text-[1.25rem];
          color: #FFF4F4;
        }

        .referral-code-value {
          @apply mt-[1.25rem] text-black;
          background-color: $white-color;
          border: none;
          border-radius: 0.3rem;

          @include iphone-width() {
            @apply mt-[4px];
          }

          :deep(.q-field__inner) {
            @apply px-4;
            // background: $secondary-color;
            border-radius: 0.3rem;
            color: rgba(28, 30, 34, 0.2);
          }

          :deep(.q-field__native) {
            @apply text-black;
            // background: $secondary-color;
          }

          :deep(.q-field__append) {
            @apply text-black;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          min-height: 0;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          background: #B6231F;
          color: #FFFFFFA6;

          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          background: $secondary-color;
          color: #000000;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      // @apply bg-white/15;
      border-radius: 0.625rem;
      background: #B6231F;

      @include iphone-width() {
        background: #B6231F;
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid;
        color: #FFF4F4;
        border-color: #FFFFFFA6 !important;
        border-radius: 2rem;
        background: transparent;

        :deep(.q-icon) {
          color: #FFF4F4 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4;
    border-radius: 0.625rem;
    background: #B6231F;

    @include iphone-width() {
      background: #B6231F;
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem];
    color: #FFF4F4;
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem];
      color: #FFF4F4;
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: white;
      border-radius: 0.3rem;
      color: #000000;
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: white;

          &::before {
            display: none;
          }
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal;
          color: #FFF4F4;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black shadow-none;
          border-radius: 2rem;
          background: white;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal;
          color: #FFF4F4;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black shadow-none;
          border-radius: 2rem;
          background: white;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply text-black leading-none;
      background: $secondary-color;
      padding: 0.7rem 2rem;
      border-radius: 2rem;
      min-height: 0;
      font-weight: 700;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12 text-white;
      border-radius: 1rem;
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: #FFF4F4;

      :deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b-2;
        border-color: #D25C5C;
      }

      :deep(tr) {
        @apply border-b;

        &:hover {
          background: #FFCCCC1A;
          color: #FFFFFFA6;
        }
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: #D25C5C;
        color: #FFFFFFA6;
      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          // background-color: #fff;
          color: #FFF4F4;
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: #FFF4F4;
      }

      :deep(.q-btn--standard) {
        background-color: transparent !important;
        color: $secondary-color !important;

        &::before {
          display: none;
        }
      }
    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply p-4;
        border-radius: .25rem;
        border: 1px solid #D25C5C;
        background-color: #6B1212;
        color: #FFF4F4;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-black/10 pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-white;
          @apply w-full mt-2;
          background: $primary-color;
          border-radius: 2rem;
        }
      }
    }
  }
}
