// color
$primary: #005f79;
$secondary: #0897be;
$light: #f4faff;
$border-blue: #2599f8;
$color-white: #fff;
$scroll-color: rgba(#6c757d, 0.8);

// gradient
$gradient-to-bottom: linear-gradient(to bottom, #3fecff 0%, #2597ff 100%);
$gradient-to-right: linear-gradient(to right, #3fecff 0%, #2597ff 100%);

// background
$dark-bg: #fff;

$main-width: 61.9375rem;