$primaryColor: #005f79;
.custom-input {
    @apply pb-0 rounded-full mb-4;
    background: linear-gradient(to bottom, #fbfcfe 0%, #f0f6ff 100%);

    ::v-deep(.q-field__control) {
        border-bottom: 4px solid #eaefff;
        box-shadow: inset #fff 0px 0px 5px 3px;

        .q-field__label {
            font-size: .75rem;
        }

        &::before {
            border: 0;
        }

                                                                                                                                                                                                                                                                .q-icon {
            font-size: 1.25rem;
            color: $primaryColor;
        }
    }

    // 錯誤提示高度調整
    &.q-field--error {
        margin-bottom: 12.5%;
    }
}
.custom-btn {
    @apply font-normal;
    color: $primaryColor;
    font-size: .8rem;
}

.custom-shaow {
    box-shadow: $primaryColor 2px 2px 8px -4px;
}

.custom-rounded {
    border-radius: .5rem;
}

.custom-color {
    color: $primaryColor;
}