.af-bnk-wp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.af-bnk-ttl {
    background: linear-gradient(to bottom, #3fecff 0%, #2597ff 100%);
    padding: 10px 24px;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
.af-bnk-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.af-bnk-box {
    border: 1px solid #005f79;
    border-radius: 10px;
    background: #2b2b2b;
    animation: fadeIn 0.5s;
    background: #fff;
}

.af-bnk-box:focus, .af-bnk-box.active,.af-bnk-box:active{
    transform: scale(1.02);
    box-shadow: 1px 1px 10px 1px #005f79;
}
.af-bnk-r {
    display: flex;
}
.af-bnk-icon i {
    color: #005f79;
}
.af-bnk-l {
    display: flex;
    gap: 15px;
    font-size: 16px;
}
.af-his-3{
    align-content: center;
}
.af-bnk-l label.af-bnk-info {
    margin: 0px;
}
.af-bnk-box.add-bnk {
    border: 5px solid #005f79;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.af-bnk-add a {
    color: #000;
}
.add-bank .modal-dialog {
    padding: 20px;
    min-height: 450px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #0897be;
    max-width: 815px;
    margin-top: 5%;
}
.af-txt-red i {
    color: #fa6a60;
}
.af-txt-grn i {
    color: #99cc0d;
}
.add-bank .modal-content {
    background: none;
    border: none;
}
.add-bank .close-x {
    background: none;
    border: none;
    position: absolute;
    right: -7px;
    top: -55px;
    color: #fff;
    font-size: 24px;
}
.cancel_btn {
    border: 1px solid #0897be;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(255 255 248) 0%, rgb(213 213 213) 100%);
    color: #0897be;
    font-size: 17px;
    padding: 8px 20px;
    width: 150px;
    background: none;
}
.cancel_btn:hover {
}
.af-bnk-dtl {
    display: flex;
    flex-direction: column;
    padding: 15px 24px;
    gap: 14px;
}
.af-bnk-icon{
    margin: 0px 5px;
}
.af-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.submit_btn {
    color: #000;
    font-size: 17px;
    padding: 8px 20px;
    border: 1px solid transparent;
    width: 100%;
    background: linear-gradient(to bottom, #3fecff 0%, #2597ff 100%);
    border-radius: 20px;
}
.af-row {
    margin-bottom: 20px;
}
.col-row .af-row{
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}
.af-txt-blu {
    color: #0897be;
    font-weight: bold;
    text-transform: uppercase;
}
.af-in-content-box {
    flex-direction: column;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.af-row-wd {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
}
.af-row label{
    color: #0897be;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px;
}
.af-table {
    width: 100%;
    border-collapse: collapse;
    /* border-radius: 10px; */
    overflow: hidden;
}
.af-table tr th:last-child {
    text-align: right;
}
.af-table tr td:last-child {
    text-align: right;
    color: #000;
}
.af-table tr th {
    background: #fff;
    color: #0897be;
    padding: 8px 15px;
    text-align: left;
    border: 1px solid #0897be;
}
.af-table tr td {
    padding: 8px 15px;
    border: 1px solid #005f79;
    text-align: left;
    color: #005f79;
    background: #fff;
}
.default-button{
    background: none;
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 600;
    border: 1px solid #005f79;
    color: #ffffff;
}
.default-button:focus, .default-button:hover, .default-button.active{
    background: linear-gradient(to bottom, #3fecff 0%, #2597ff 100%);
    color: #000;
}

@media (max-width:600px){
    .add-bank .modal-dialog{
        margin-top: 10%;
    }
}