@font-face {
  font-family: "OpenSans";
  src: url("app/template/okbet_purple/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("app/template/okbet_purple/assets/fonts/Arial-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("app/template/okbet_purple/assets/fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("app/template/okbet_purple/assets/fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("app/template/okbet_purple/assets/fonts/SegoeUI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
