@import "src/common/css/_variable.sass";
@import "app/template/okbet_blackGold/assets/css/_variable.sass";



.referral-rebate {
  .referral-rebate-header {
    @apply w-full bg-black/70;
    @apply aspect-[1570/354] bg-cover bg-center;
  }

  .referral-rebate-content {
    @apply w-[62.5rem] mt-[2rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white/70;
    border-radius: 0.75rem;

    @include iphone-width() {
      @apply w-full mt-0 max-w-[100%];
      @apply p-[28px];
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center;
      @apply font-bold text-[1.5rem];
      color: #fff;

      span {
        &:first-child {
          background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        &:last-child {
          color: #fff;
        }
      }
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include iphone-width() {
        @apply flex-row items-start mt-[3rem];
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold text-white;
      }

      :deep(.q-btn-dropdown) {
        @apply text-white shadow-none;
        border-radius: 2rem;
        background: #000;
        border: 1px solid #8A8A8A;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include iphone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include iphone-width() {
          @apply w-full flex-col;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);

          @include iphone-width() {
            @apply text-sm pt-[0.625rem] pb-[0.4375rem];
            width: 100%;
            background-color: #C0C0C0
          }

          .summary-title {
            @apply font-bold text-black;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-black;

            @include iphone-width() {
              @apply text-sm;
            }
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);
        border-radius: 0.5rem;

        @include iphone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply text-black font-semibold text-[1.25rem];
        }

        .referral-code-value {
          @apply mt-[1.25rem] text-white;
          background-color: #C0C0C0;
          border: none;
          border-radius: 0.3rem;

          @include iphone-width() {
            @apply mt-[4px];
          }

          :deep(.q-field__inner) {
            @apply px-4;
            background: #000;
            border-radius: 0.3rem;
            border: 1px solid #8A8A8A;
            color: #fff;
          }

          :deep(.q-field__native) {
            @apply text-white;
            background: #000;
          }

          :deep(.q-field__append) {
            @apply text-white;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          min-height: 0;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          background: #313131;
          color: #C0C0C0;

          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);
          color: #000;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      border-radius: 0.625rem;
      background: #313131;

      @include iphone-width() {
        @apply bg-[#313131];
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid #D1B17C;
        color: #fff;
        border-radius: 2rem;

        :deep(.q-icon) {
          color: #D1B17C !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-[#313131];
    border-radius: 0.625rem;

    @include iphone-width() {
      @apply bg-[#313131];
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem] text-white;
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem] text-white;
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: #000;
      border-radius: 0.3rem;
      color: #fff;
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-white;
          border-radius: 2rem;
          background: #000;

          &::before {
            display: none;
          }
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal text-white;
        }

        :deep(.q-btn-dropdown) {
          @apply text-white shadow-none;
          border-radius: 2rem;
          background: #000;
          border: 1px solid #8A8A8A;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal text-white;
        }

        :deep(.q-btn-dropdown) {
          @apply text-white shadow-none;
          border-radius: 2rem;
          background: #000;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply text-black leading-none;
      background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);
      padding: 0.7rem 2rem;
      border-radius: 2rem;
      min-height: 0;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12 text-[#C0C0C0] bg-[#313131];
      border-radius: 1rem;
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: rgba(0, 0, 0, 0.7);

      :deep(th) {
        @apply text-[18px] font-bold text-center border-b;
        border-color: #DDDDDF;
        color: rgba(255, 255, 255, 0.7);
      }

      :deep(tr) {
        @apply border-b;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: #DDDDDF;
        color: #F2F2F2;
      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent !important;
          color: #C0C0C0 !important;

          &.q-btn--standard {
            background-color: transparent !important;
            color: #D1B17C !important;

            &::before {
              display: none;
            }
          }
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: #fff;
      }


    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-4;
        border-radius: 0.5rem;
        border: 1px solid #929292B2;
        background-color: #000;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-white/10 pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-black;
          @apply w-full mt-2;
          background: linear-gradient(180deg, #D1B17C 0%, #A48155 100%);
          border-radius: 2rem;
        }
      }
    }
  }
}