.hide-hover {
  :deep(.q-focus-helper) {
    opacity: 0 !important;
    background-color: transparent !important;
  }
}

:deep(.bg-primary) {
  background: linear-gradient(270deg, #38A4B1 0%, #8C82E9 100%) !important;
}

:deep(.text-primary) {
  color: #000 !important;
}

:deep(.text-term) {
  color: #000;
}

:deep(.bg-submit) {
  background: linear-gradient(90deg, #38A4B1 0%, #8C82E9 100%) !important;
}

.btn-play {
  @apply capitalize z-20;
  padding: 0.5rem 1.875rem;
  background: linear-gradient(270deg, #38A4B1 0%, #8C82E9 100%);
  color: #fff;
  border-radius: 2.375rem;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 510;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  :deep(.q-btn__content) {
    @apply whitespace-nowrap;
  }
}

@mixin btn-common {
  position: relative;
  font-family: "PingFang SC";
  font-style: normal;
  min-width: 5.375rem;
  color: #414655 !important;
  background-color: #E5EBF2 !important;
  height: 1.875rem;
  min-height: 1.875rem;
  text-transform: capitalize;
}

@keyframes reFreshAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
