@import "app/template/set_r016/assets/css/_variable.scss";

.form-title {
  @include fontStyle(0.875rem, 400);
  display: inline-block;
  position: relative;
  margin-bottom: 0.375rem;

  &.required {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -0.75rem;
      width: .375rem;
      height: .375rem;
      background-color: $primary04;
      border-radius: 50%;
    }
  }
}

.form-input {
  :deep(.q-field__inner) {
    .q-field__control {
      background: $neutral01;
      box-shadow: $shadow02;
      border-radius: .625rem;
      padding: 0 1rem;

      .q-field__native {
        @include fontStyle(0.875rem, 400);
        padding: 0;

        &::placeholder {
          color: $neutral06;
        }
      }

      .q-field__append {
        .q-icon {
          color: $primary04 !important;
          font-size: 1.25rem !important;
        }
      }

      &::after {
        border: none
      }
    }

    .q-field__bottom {
      @apply px-0;
      @include fontStyle(.75rem, 400);
      padding-top: .375rem;
      color: $primary04;
    }

    .q-field__prepend {
      padding: 0;

      .form-icon {
        cursor: auto;

        img {
          width: 1rem;
          height: 1rem;
        }
      }

      .divider {
        width: 1px;
        height: 1.25rem;
        background: $neutral05;
        margin: 0 0.625rem;
      }
    }
  }
}

.form-select {
  :deep(.q-field__inner) {
    .q-field__control {
      background: $neutral01;
      box-shadow: $shadow02;
      border-radius: .625rem;
      padding: 0 1rem;

      .q-field__native {
        @include fontStyle(0.875rem, 400);
        padding: 0;

        &::placeholder {
          color: $neutral06;
        }
      }

      .q-field__append {
        .q-icon {
          color: $neutral06 !important;
          font-size: 1.625rem !important;
        }
      }

      &::after {
        border: none
      }
    }

    .q-field__bottom {
      @apply px-0;
      @include fontStyle(.75rem, 400);
      padding-top: .375rem;
      color: $primary04;
    }
  }
}