@import "src/common/css/_variable.sass";
@import "app/template/set_r016/assets/css/_variable.scss";

.referral-rebate {
  max-width: 75rem;
  margin: 1.25rem auto;

  .referral-rebate-content {
    margin-top: 1.25rem;
    padding: 3.75rem;
    background-color: $primary07;
    color: $neutral01;
    border-radius: 0.625rem;

    @include iphone-width() {
      margin-top: 0.625rem;
      padding: 1.25rem;
    }

    .title {
      @apply flex items-center;
      gap: 0.625rem;
      @include fontStyle(1.625rem);
      color: $secondary03;

    }

    .currency-item {
      max-width: 18.75rem;
      @apply mt-10;


      @include phone-width {
        max-width: none;
        @apply mt-5;
      }
    }

    .summary-wrapper {
      @apply mt-5 flex flex-nowrap gap-10;

      @include phone-width {
        @apply flex-col;
        gap: 0.625rem;
        margin-top: 0.625rem;
      }

      .summary {
        @apply flex flex-col;
        gap: 0.625rem;
        width: 50%;

        @include phone-width {
          width: 100%;
        }

        .summary-content {
          @apply flex flex-col items-center;
          gap: 0.375rem;
          padding: 0.625rem;
          border-radius: 0.625rem;
          background-color: $primary06;

          .summary-title {
            @include fontStyle();
            line-height: 1rem;
            color: $primary02;
          }

          .summary-value {
            @include fontStyle(2rem);
            line-height: 2.3125rem;
            color: $neutral01;
          }
        }
      }

      .referral-code-wrapper {
        @apply flex flex-col items-center justify-center;
        gap: 0.625rem;
        width: 50%;
        padding: 1.25rem;
        border-radius: 0.5rem;
        border: 1px solid $primary06;
        background-color: $secondary02;

        @include phone-width {
          width: 100%;
        }
        .referral-code-title {
          @include fontStyle();
          line-height: 1rem;
          color: $neutral01;
        }

        .referral-code-row {
          @apply flex flex-none justify-between items-center;
          width: 100%;
          max-width: 18.75rem;
          padding: 0.625rem 1rem;
          border-radius: 0.625rem;
          background-color: $neutral01;
          box-shadow: $shadow02;

          @include phone-width {
            max-width: none;
          }

          .referral-code {
            @include fontStyle(0.875rem, 400);
            color: $neutral06;
          }

          .referral-code-btn {
            @apply flex items-center;
            gap: 0.625rem;

            :deep(.q-icon){
              color: $primary04;
              width: 1.25rem;
              height: 1.25rem;
              cursor: pointer;
            }
          }
        }
      }
    }

    .proxy-tabs {
      @apply mt-10 flex flex-nowrap items-center;
      gap: 0.625rem;

      @include phone-width {
        margin-top: 1.25rem;
      }

      .q-btn {
        @include fontStyle();
        border-radius: 0.625rem;
        padding: 0.625rem;
        background-color: $secondary02;
        color: $neutral01;
        min-width: 5rem;

        &.active {
          background-color: $neutral01;
          color: $primary04;
        }
      }
    }

    .proxy-tab-panels {
      @apply mt-5 p-5 flex flex-col gap-10;
      border-radius: 0.625rem;
      background-color: $secondary02;

      @include phone-width {
        margin-top: 0.625rem;
        padding: 0.625rem;
        gap: 1.25rem;
      }

      .q-tab-panel {
        padding: 0;
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        border: 1px solid;
        border-color: #ffc002 !important;
        border-radius: 0.5rem;

        ::v-deep(.q-icon) {
          color: #ffc002 !important;
        }
      }
    }
  }
}

.btn-back {
  // padding: 0.625rem 1.25rem;
  box-shadow: $shadow01;
  background-color: $neutral01;
  border-radius: 0.625rem;
  cursor: pointer;

  :deep(.q-btn__content) {
    flex-wrap: nowrap;
    color: $primary04;

    .q-icon {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 2px;
    }

    span {
      @include fontStyle();
      color: $primary04;
      text-transform: capitalize;
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-white/15;
    border-radius: 0.625rem;

    @include iphone-width() {
      @apply bg-black/20;
    }
  }
  .search-content {
    .search-content-title {
      @include fontStyle(1.25rem);
      color: $neutral01;
    }

    .search-row {
      @apply mt-5 flex flex-nowrap items-end  gap-5;

      @include phone-width {
        flex-wrap: wrap;
      }
      .form-item {
        width: 28.85%;
        max-width: 18.75rem;

        @include phone-width {
          width: 100%;
          max-width: none;
        }
      }

      .btn-search {
        @include fontStyle();
        color: $neutral01;
        background: $gradient01;
        border-radius: 0.625rem;
        padding: 0.625rem;
        min-width: 5rem;
        height: 2.5rem;

        @include phone-width {
          width: 100%;
        }
      }
    }
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem];
    }

    ::v-deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 0.5rem;
          background: #fff;
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 0.5rem;
          background: #fff;
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 0.5rem;
          background: #fff;
        }
      }
    }

    .search-btn {
      @apply bg-[#FFC002] text-[#24262B] leading-none;
      padding: 0.7rem 0.75rem;
      border-radius: 0.5rem;
      min-height: 0;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12;
    }

    .q-table__card {
      @apply bg-transparent shadow-none text-white/70;

      ::v-deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b-2 border-white/15;
      }

      ::v-deep(tr) {
        border-color: #fff;
        @apply border-b border-white/15;
      }

      ::v-deep(td) {
        @apply text-center;
        @apply border-b-2 border-white/15;
      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      ::v-deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: #fff;
          color: #1c1e22b2 !important;
        }
      }

      ::v-deep(.q-btn) {
        border-radius: 0.35rem;
      }

      ::v-deep(.q-icon) {
        color: #ffc002;
      }

      ::v-deep(.q-btn--standard) {
        background-color: #ffc002 !important;
        color: #1c1e22b2 !important;
      }
    }

    ::v-deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-4;
        border-radius: 0.5rem;
        border: 1px solid $primary05;
        background-color: $primary08;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-white/20 pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
          .label {
            color: $primary02;
          }
        }

        .detail-btn {
          @apply bg-white w-full mt-2 font-bold;
          border-radius: .5rem;
          color: $primary04;

        }
      }
    }
  }
}
