@import "src/common/css/_variable.sass";

@mixin useProfileIcon {
  background-image: url("app/template/okbet_blue/assets/images/member/profile-icon.png");
  background-size: 689.231px;
  background-position-y: -9.84615px;
  background-repeat: no-repeat;
  margin: 0px;
  display: inline-block;

  @include phone-width {
    background-size: 385.897px;
    background-position-y: -5.51282px;
  }
}

@mixin useFundSprite {
  background-image: url("app/template/okbet_blue/assets/images/member/funds-sprite.webp");
  background-size: 6635.32px;
  background-position-y: -9.84615px;
  background-repeat: no-repeat;

  @include phone-width {
    background-size: 3715.09px;
    background-position-y: -5.51282px;
  }
}

@mixin useVipIcon {
  background-image: url("app/template/okbet_blue/assets/images/vip/icon-route.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
