// color
$primary: #f0e47f;
$color-white: #fff;
$scroll-color: rgba(#6c757d, 0.8);

// gradient
$gradient-to-bottom: linear-gradient(to bottom, rgba(240, 228, 127, 1) 0%, rgba(200, 166, 68, 1) 100%);
$gradient-to-right: linear-gradient(to right, rgba(241, 229, 128, 1) 0%, rgba(199, 164, 67, 1) 100%);

// background
$dark-bg: #000;

$main-width: 61.9375rem;
