// color
$primary-color: #400001;
$primary-color-light: #531a1b;
$secondary-color: #7c0000;
$header-bg-color: $secondary-color;
$header-text-gray: #676767;
$navigation-active-bg: linear-gradient(to right, #d35861 0%, #fd857b 100%);
$pink-shadow-color: #fd857b;
$pink-color: #fd857b;
$bg-footer: transparent;
$bg-footer-text: #400001;
$select-standout-color: #212529;

// gradient
$pink-button-gradient: linear-gradient(to right, #d35861 0%, #fd857b 100%);

$wallet-checked-color: #97c618;
$modal-bg-light: #ffffffe6;

$white-color: #fff;
$black-color: #000;
$text-gray: #666;
$danger-color: #FF0000;

$history-search-wrapper-bg: #d7d7d7;