.hide-hover {
  :deep(.q-focus-helper) {
    opacity: 0 !important;
    background-color: transparent !important;
  }
}

@keyframes reFreshAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-refresh {
  &.active {
    animation: reFreshAni 1s linear infinite;
  }
}
