:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --primary01: #025BE8;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --edit-border01: #CACACA;
  --btn01: #FFFFFF;
  --btn02: #FFFFFF;
  --neutral01: #000000;
  --neutral02: #4E4E4E;
  --neutral04: #EEEEEE;
  --secondary01: #FFFFFF;
  --secondary02: #FFFFFF;
  --secondary06: #FFFFFF;
  --separator01: #E5EBF2;
  --bettingDisk01: #FFFFFF;
}

[data-theme="set_r017"] {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gold-color: #D6B595;
  --card-betting-item-color: #EEE;
  --cancel-btn-bg: #EB1111;
  --tips-text: #FF0000;
  --apply-btn-bg: #E0ECFF;
  --toggle-active-btn-bg: #30D158;
  --toggle-inactive-btn-bg: #9E9E9E;
  --box-shadow01: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  --edit-border01: #d2d2d23d;
  --btn01: #FFFFFF;
  --btn02: #1d125d;
  --primary01: #f26319;
  --bg-color-01: #F0F1F4;
  --bg-color-02: #E5EBF2;
  --border-color-01: #CACACA;
  --neutral01: #FFFFFF;
  --neutral02: #ffffffc4;
  --neutral04: #d2d2d23d;
  --secondary01: #1d125d;
  --secondary02: #0c0c1c;
  --secondary06: #070609;
  --separator01: #d2d2d23d;
  --bettingDisk01: #070609;
}
